h1{
    font-size: 150px;
    text-align: center;
    color: black;
    background-color: gray;
    padding: 50px;
    padding-bottom: 80px;
    margin: 50px;
    background-image: url(https://us.123rf.com/450wm/allexxandar/allexxandar1711/allexxandar171100990/90946815-grunge-colorado-state-flag-colorado-flag-background-grunge-texture-.jpg?ver=6);

}

h3{
    color: black;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(https://images.fineartamerica.com/images-medium-large-5/denver-skyline-silhouette-of-colorado-state-flag-canvas-design-turnpike.jpg);
}

.questions{
    text-align: center;
    font-size: 35px;
    color: white;

}


.timeLeft{
    font-size: 30px;
    color:white;
    text-align: center;
}

button{
    font-size: 100px;
    margin-left: 32.5%;
    color: black;
    background-size: contain;
    background-image: url(https://us.123rf.com/450wm/allexxandar/allexxandar1711/allexxandar171100990/90946815-grunge-colorado-state-flag-colorado-flag-background-grunge-texture-.jpg?ver=6);
}
